<%- include('partials/header') %>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <ul>
                <% if (students.length > 0) { %>
                    <% students.map(student => { %>
                    <li><%= student.id %>) <%= student.name %> age : <%= student.age %>
                        <%- include('partials/delete', { id : student.id }) ;%>
                    </li>
                    <% }) %>
                 <% } else { %>
                    <li>Aucun étudiant en base de données</li>
                <% } %>
                </ul>
            </div>
        </div>
        <div class="col-4">

        </div>
    </div>
    </div>
</body>

</html>